# see https://prettier.io/docs/en/configuration.html

arrowParens: "always"
bracketSameLine: false
bracketSpacing: true
embeddedLanguageFormatting: "auto"
endOfLine: "lf"
experimentalTernaries: false
htmlWhitespaceSensitivity: "css"
insertPragma: false
jsxSingleQuote: false
printWidth: 79
proseWrap: "preserve"
quoteProps: "as-needed"
requirePragma: false
semi: true
singleAttributePerLine: false
singleQuote: false
tabWidth: 4
trailingComma: "all"
useTabs: false
vueIndentScriptAndStyle: false
